<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="berandaMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center ion-padding">
    <ion-img src="https://img1.pngdownload.id/20180717/ivw/kisspng-computer-icons-free-vector-human-5b4d6fc3cfb773.7813526515318015398508.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Wendy Ridzky Samudro</ion-card-title>
      <h2>00000025915</h2>
    </ion-card-header>
    <ion-card-content>Isi aja</ion-card-content>
  </ion-card>

</ion-content>
