<ion-app>
  <ion-menu side="start" menuId="berandaMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="berandaMenu">
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="berandaMenu" routerLink="/admin">
          <ion-item lines="none" >
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="berandaMenu">
          <ion-item lines="none" routerLink="/about">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="berandaMenu">
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Exit</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
