<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-item [hidden]="loadedBarang.id">
        <ion-input ngModel = "{{loadedBarang.id}}" name="id"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Image (URL)</ion-label>
        <ion-input
                type="url"
                ngModel = "{{loadedBarang.imageUrl}}"
                name="imageUrl"
                #imageCtrl = "ngModel"
                required
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="!imageCtrl.valid && imageCtrl.touched">
        <ion-label>Image URL should be correct.</ion-label>
      </ion-item>
      <ion-item disabled="true">
        <ion-select
                name="type"
                ngModel = "{{loadedBarang.type}}"
                #typeCtrl = "ngModel"
                selectedText="{{loadedBarang.type}}">
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Merk</ion-label>
        <ion-input
                type="text"
                ngModel = "{{loadedBarang.brand}}"
                name="brand"
                #brandCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!brandCtrl.valid && brandCtrl.touched">
        <ion-note>Brand harus benar</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-input
                type="text"
                ngModel = "{{loadedBarang.model}}"
                name="model"
                #modelCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!modelCtrl.valid && modelCtrl.touched">
        <ion-note>Model should be correct.</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input
                type="number"
                ngModel = "{{loadedBarang.harga}}"
                name="harga"
                #hargaCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!hargaCtrl.valid && hargaCtrl.touched">
        <ion-note>Price should be correct.</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input
                type="number"
                ngModel = "{{loadedBarang.stok}}"
                name="stok"
                #stokCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!stokCtrl.valid && stokCtrl.touched">
        <ion-note>Stock should be correct.</ion-note>
      </ion-item>


      <ion-list *ngIf="typeCtrl.value == 'Prosessor'">
        <ion-item lines="none" class="ion-padding-top">
          <b>Detail Produk</b>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Base Clock</ion-label>
          <ion-input
                  type="number"
                  ngModel = "{{loadedBarang.baseClock}}"
                  name="baseClock"
                  #baseClockCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!baseClockCtrl.valid && baseClockCtrl.touched">
          <ion-note>Base clock should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Boost Clock</ion-label>
          <ion-input
                  type="number"
                  ngModel = "{{loadedBarang.boostClock}}"
                  name="boostClock"
                  #boostClockCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!boostClockCtrl.valid && boostClockCtrl.touched">
          <ion-note>Boost clock should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Core Count</ion-label>
          <ion-input
                  type="number"
                  ngModel = "{{loadedBarang.core}}"
                  name="core"
                  #coreCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!coreCtrl.valid && coreCtrl.touched">
          <ion-note>Core count should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Thread Count</ion-label>
          <ion-input
                  type="number"
                  ngModel = "{{loadedBarang.threads}}"
                  name="threads"
                  #threadCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!threadCtrl.valid && threadCtrl.touched">
          <ion-note>Thread count should be correct.</ion-note>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="typeCtrl.value == 'Motherboard'">
        <ion-item lines="none" class="ion-padding-top">
          <b>Detail Produk</b>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Chipset</ion-label>
          <ion-input
                  ngModel = "{{loadedBarang.chipset}}"
                  name="chipset"
                  #chipsetCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!chipsetCtrl.valid && chipsetCtrl.touched">
          <ion-note>Chipset should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Processor Compatible</ion-label>
          <ion-input
                  ngModel = "{{loadedBarang.processor_compatible}}"
                  name="processor_compatible"
                  #procCompCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!procCompCtrl.valid && procCompCtrl.touched">
          <ion-note>Processor Compatible should be correct.</ion-note>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="typeCtrl.value == 'RAM'">
        <ion-item lines="none" class="ion-padding-top">
          <b>Detail Produk</b>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Speed</ion-label>
          <ion-input
                  type="number"
                  ngModel = "{{loadedBarang.speed}}"
                  name="speed"
                  #speedCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!speedCtrl.valid && speedCtrl.touched">
          <ion-note>RAM Speed should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Size</ion-label>
          <ion-input
                  type="number"
                  ngModel = "{{loadedBarang.size}}"
                  name="size"
                  #sizeCompCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!sizeCompCtrl.valid && sizeCompCtrl.touched">
          <ion-note>RAM size should be correct.</ion-note>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-button type="submit" color="primary" expand="block" [disabled]="!form.valid" (click)="onSubmit(form)">
      Edit Product
    </ion-button>
  </form>
</ion-content>
